@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
	font-family: 'Binggrae';
    src:local('※'),
    url('../font/Binggrae.woff') format('woff');
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}
@font-face {    
	font-family: 'Binggrae-Bold';
    src: local('※'),
    url('../font/Binggrae-Bold.woff') format('woff');
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
}

/* normalize */
* {
    font-family: 'Poppins','Noto Sans KR', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.09em;
    font-style: normal;
    color: #1f1f1f;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.5s;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}
/* normalize end */

/* 임시 */
body { 
    height: 3000px;
    background-color: #f0eded;
}

.mo {
    display: none;
}