/* height 680px 이하 */
@media screen and (max-height: 680px) {
    .header__fullMenu {
        padding-top: 150px;
        align-items: flex-start;
    }
}

/* width 1024px 이상 */
@media  screen and (min-width: 1024px) {
    .header__fullMenu .depth-1 > li:hover {
        transform: translateY(-10px);
        box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
    }

    .header__fullMenu .depth-2 > li:hover {
        background-image: url(../img/pc_ham_hover_img.png);
        background-repeat: no-repeat;
        background-position: right top 2px;
    }
}

/* width 1700px 이하 */
@media screen and (max-width: 1700px) {
    .header__top {
        padding: 0 20px;
    }
    
    .header__main {
        padding: 40px 20px;
    }

    /* 헤더 1차 메뉴 영역 */
    .header__navWrap .depth-1 {
        gap: 0 50px;
    }

    .header__navWrap .depth-1 > li > a {
        font-size: 16px;
    }

    .header__navWrap .depth-2 > li > a {
        font-size: 14px;
    }

    /* 전체 메뉴 영역 */
    .fullMenu__Container {
        max-width: 95%;
    }

    .header__fullMenu .depth-1 > li > a {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    

    .header__fullMenu .depth-1 > li > a > span {
        font-size: 20px;
        line-height: 1;
    }

    .header__fullMenu .depth-2 > li > a {
        font-size: 14px;
    }

    .header__fullMenu .depth-3 {
        padding-top: 5px;
    }

    .header__fullMenu .depth-3 > li > a {
        font-size: 12px;
    }
}

/* width 1280px 이하 */
@media screen and (max-width: 1280px) {
    /* 전체 메뉴 영역 */
    .header__fullMenu .depth-1 > li {
        padding: 30px 15px;
    }
}

/* width 1024px 이하  */
@media screen and (max-width: 1024px) {
    .pc {
        display: none;
    }

    .mo {
        display: block;
    }

    /* 헤더 상단 영역 */
    .header__top {
        display: none;
    }

    /* 헤더 로고 영역 */
    .header__logoWrap {
        width: 117px;
    }

    /* 헤더 1차 메뉴 영역 */
    .header__navWrap {
        display: none;
    }

    /* 전체 메뉴 영역 */
    .header__fullMenu {
        z-index: 2;
        background-image: url();
        background-color: #0000001a;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 0;
    }
    
    .fullMenu__Container {
        background-color: #fff;
        border-top-left-radius: 30px;
        width: 500px;
        height: 100%;
    }

    /* 전체 메뉴 상단 영역 */
    .fullMenu__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #0000001a
    }
    
    .fullMenu__top ul {
        display: flex;
        gap: 0 6px;
    }

    .fullMenu__top > ul > li > a {
        display: flex;
        align-items: center;
        gap: 0 4px;
        padding: 10px 14px;
        border-radius: 17px;
        border: 1px solid rgb(0 0 0 / 0.1);
    }

    .fullMenu__top > ul > li > a > span {
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
    }

    /* 전체 메뉴 닫기 버튼 */
    .fullMenu__close-btn {
        width: 22px;
        cursor: pointer;
    }

    /* 전체 메뉴 1차메뉴 영역 */
    .header__fullMenu .depth-1 {
        flex-direction: column;
        padding-top: 11px;
        padding-bottom: 30px;
    }

    .header__fullMenu .depth-1 > li {
        width: 100%;
        padding: 0;
        border: 0;
        border-radius: 0;
    }

    .header__fullMenu .depth-1 > li > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 20px 11px 38px;
    }

    .header__fullMenu .depth-1 > li > a > span {
        font-size: 21px;
        line-height: 1;
    }
    
    .header__fullMenu .depth-1 > li > a > img {
        width: 9px;
    }

    .header__fullMenu .depth-1 > li.active > a > img {
        transform: rotate(180deg);
    }

    /* 전체 메뉴 2차메뉴 영역 */
    .header__fullMenu .depth-2 {
        display: none;
        padding: 11px 20px 11px 38px;
        background-color: #f7f7f7;
    }

    .header__fullMenu .depth-2 > li {
        display: flex;
        padding: 7px 0;
    }

    .header__fullMenu .depth-2 > li > a {
        font-size: 16px;
        color: #707070;
        position: relative;
    }

    .header__fullMenu .depth-2 > li:hover > a::after {
        content: "";
        position: absolute;
        top: -3px;
        right: -7px;
        width: 3.5px;
        height: 3.5px;
        border-radius: 50%;
        background-color: #e0462e;
    }

    .header__fullMenu .depth-3 {
        display: none;
    }
}