/* height 680px 이하 */
@media screen and (max-height: 680px) {
    /* 전체 메뉴 영역 */
    .header__fullMenu {
        padding-top: 150px;
        align-items: flex-start;
    }
}

/* width 768px 이상 */
@media screen and (min-width: 768px) {
    /* 메인 슬라이드 영역 아이템 호버 시 */
    .mainSlide .swiper .swiper-slide:hover {
        transform: translateY(-10px);
    }

    /* 메인 슬라이더 - 01 아이템 호버 시 */
    .mainSlide__slide01 .swiper-slide:hover a:last-child {
        box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
        background: linear-gradient(to top, #ed1c25, #e0462e);
        color: #fff;
    }

    .mainSlide__slide01 .swiper-slide:hover .hover-item {
        display: block;
    }

    .mainSlide__slide01 .swiper-slide:hover span:not(.hover-item) {
        display: none;
    }

        
    /* 메인 슬라이더 - 02 호버 시 */
    .mainSlide__slide02 .swiper-slide:hover {
        box-shadow: 0 5px 24.3px 2.7px rgb(0 0 0 / 9%);
    }

    .mainSlide__slide02 .swiper-slide:hover .slide02__brand-box {
        display: none;
    }

    .mainSlide__slide02 .swiper-slide:hover .slide02__hover-box {
        opacity: 1;
        transform: translateY(-30px);
    }

    .mainSlide__slide02 .swiper-slide:hover .slide02__btn-buy {
        display: flex;
    }
}

/* width 1024px 이상 */
@media  screen and (min-width: 1024px) {
    /* 전체 메뉴 영역 */
    .header__fullMenu .depth-1 > li:hover {
        transform: translateY(-10px);
        box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
    }

    .header__fullMenu .depth-2 > li:hover {
        background-image: url(../img/pc_ham_hover_img.png);
        background-repeat: no-repeat;
        background-position: right top 2px;
    }
}

/* width 1400px 이상 */
@media screen and (min-width: 1400px) {
    
}

/* width 1780px 이하 */
@media screen and (max-width:1780px) { 
    /* 메인 슬라이더 영역 */
    .mainSlide__slideContainer {
        width: 95%;
    }
}

/* width 1700px 이하 */
@media screen and (max-width: 1700px) {
    /* 헤더 영역 */
    .header__top {
        padding: 0 20px;
    }
    
    .header__main {
        padding: 40px 20px;
    }

    /* 헤더 1차 메뉴 영역 */
    .header__navWrap .depth-1 {
        gap: 0 50px;
    }

    .header__navWrap .depth-1 > li > a {
        font-size: 16px;
    }

    .header__navWrap .depth-2 > li > a {
        font-size: 14px;
    }

    /* 전체 메뉴 영역 */
    .fullMenu__Container {
        max-width: 95%;
    }

    .header__fullMenu .depth-1 > li > a {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    .header__fullMenu .depth-1 > li > a > span {
        font-size: 20px;
        line-height: 1;
    }

    .header__fullMenu .depth-2 > li > a {
        font-size: 14px;
    }

    .header__fullMenu .depth-3 {
        padding-top: 5px;
    }

    .header__fullMenu .depth-3 > li > a {
        font-size: 12px;
    }
}

/* width 1400px 이하 */
@media screen and (max-width: 1400px) {
    /* 메인 슬라이드 - 02 */
    .slide02__brand-box > img {
        width: 90px;
    }

    .mainSlide__slide02 .slide02__btn-buy {
        height: 30px;
    }

    /* 메인 고객지원 영역 */
    .mainSupport__container {
        width: 95%;
    }

    .mainSupport__emailBox,
    .mainSupport__phoneBox {
        background-position: center right 30%;
    }

    /* QnA 질문 리스트 영역 */
    .mainSupport__qnaList > li > p > i,
    .mainSupport__qnaList > li > p > span {
        font-size: 16px;
    }

    .mainSupport__qnaList > li {
        height: 65px;
    }

    .mainSupport__qnaList > li > a {
        width: 35px;
        height: 35px;
    }

    /* 메인 고객지원 제보 영역 */
    .mainSupport__reportWrap > section > p {
        font-size: 16px;
    }
}

/* width 1280px 이하 */
@media screen and (max-width: 1280px) {
    /* 전체 메뉴 영역 */
    .header__fullMenu .depth-1 > li {
        padding: 30px 15px;
    }

    /* 메인 상단 영역 */
    .mainTop__logoWrap {
        width: 95%;
        margin: 0 auto;
    }

    .mainTop__searchBar {
        height: 60px;
    }

    .mainTop__searchInner .search_product_btn {
        height: 45px;
    }

    /* 고객지원 QnA 리스트 영역 */
    .mainSupport__qnaList > li {
        width: 100%;
    }
}

/* width 1024px 이하  */
@media screen and (max-width: 1024px) {
    .pc {
        display: none;
    }

    .mo {
        display: block;
    }

    /* 헤더 상단 영역 */
    .header__top {
        display: none;
    }

    /* 헤더 로고 영역 */
    .header__logoWrap {
        width: 117px;
    }

    /* 헤더 1차 메뉴 영역 */
    .header__navWrap {
        display: none;
    }

    /* 전체 메뉴 영역 */
    .header__fullMenu {
        z-index: 2;
        background-image: url();
        background-color: #0000001a;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 0;
    }
    
    .fullMenu__Container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: #fff;
        border-top-left-radius: 30px;
        width: 500px;
        height: 100%;
    }

    /* 전체 메뉴 상단 영역 */
    .fullMenu__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #0000001a
    }
    
    .fullMenu__top ul {
        display: flex;
        gap: 0 6px;
    }

    .fullMenu__top > ul > li > a {
        display: flex;
        align-items: center;
        gap: 0 4px;
        padding: 10px 14px;
        border-radius: 17px;
        border: 1px solid rgb(0 0 0 / 0.1);
    }

    .fullMenu__top > ul > li > a > span {
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
    }

    /* 전체 메뉴 닫기 버튼 */
    .fullMenu__close-btn {
        width: 22px;
        cursor: pointer;
    }

    /* 전체 메뉴 1차메뉴 영역 */
    .header__fullMenu .depth-1::-webkit-scrollbar {
        display: none;
    }

    .header__fullMenu .depth-1 {
        flex-grow: 1;
        flex-direction: column;
        margin: 0;
        padding-top: 11px;
        padding-bottom: 30px;
        overflow-y: scroll;
    }

    .header__fullMenu .depth-1 > li {
        width: 100%;
        padding: 0;
        border: 0;
        border-radius: 0;
    }

    .header__fullMenu .depth-1 > li > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 20px 11px 38px;
    }

    .header__fullMenu .depth-1 > li > a > span {
        font-size: 21px;
        line-height: 1;
    }
    
    .header__fullMenu .depth-1 > li > a > img {
        width: 9px;
    }

    .header__fullMenu .depth-1 > li.active > a > span {
        color: #e0462e;
    }

    .header__fullMenu .depth-1 > li.active > a > img {
        transform: rotate(180deg);
    }

    /* 전체 메뉴 2차메뉴 영역 */
    .header__fullMenu .depth-2 {
        display: none;
        padding: 11px 20px 11px 38px;
        background-color: #f7f7f7;
    }

    .header__fullMenu .depth-2 > li {
        display: flex;
        padding: 7px 0;
    }

    .header__fullMenu .depth-2 > li > a {
        font-size: 16px;
        color: #707070;
        position: relative;
    }

    .header__fullMenu .depth-2 > li:hover > a::after {
        content: "";
        position: absolute;
        top: -3px;
        right: -7px;
        width: 3.5px;
        height: 3.5px;
        border-radius: 50%;
        background-color: #e0462e;
    }

    .header__fullMenu .depth-3 {
        display: none;
    }

    /* 전체 메뉴 하단 영역 */
    .fullMenu__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px 25px 38px;
    }

    .fullMenu__bottom > ul {
        display: flex;
        align-items: center;
        gap: 0 20px;
    }

    .fullMenu__bottom > ul > li > a {
        font-size: 16px;
        font-weight: 500;
        color: #1f1f1f4d;
    }

    .fullMenu__bottom > ul > li.active > a {
        color: #1f1f1f;
    }

    .fullMenu__bottom > ul > li+li {
        position: relative;
    }

    .fullMenu__bottom > ul > li+li::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background-color: #0000001a;
    }

    .fullMenu__bottom > a {
        font-size: 16px;
        font-weight: 500;
        color: #707070;
    }

    /* 메인 상단 영역 */
    .mainTop__logoWrap img {
        width: auto;
    }

    .mainTop__searchBar {
        width: 80%;
    }

    /* 메인 고객지원 영역 */
    .mainSupport__consult > div {
        height: 260px;
        padding: 30px;
    }

    .mainSupport__consult > div > h4 {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .mainSupport__consult > div > p {
        font-size: 14px;
        line-height: normal;
    }
    
    .mainSupport__btnEmail {
        bottom: 30px;
        left: 30px;
    }

    .mainSupport__phoneBox .phoneNumber {
        font-size: 38.5px;
        line-height: 1;
    }

    .mainSupport__phoneBox p:not(.phoneNumber) {
        font-size: 16px;
        padding-top: 15px;
        line-height: 1;
    }

    /* QnA 질문 타이틀 */
    .mainSupport__qnaTitle h4 {
        font-size: 20px;
    }

    /* 메인 고객지원 제보 영역 */
    .mainSupport__reportWrap > section > .btn-SupportDetail {
        bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    /* 헤더 메인 영역 */
    .header__main {
        padding: 22px 20px;
    }

    /* 메인 상단 영역 */
    .mainTop__searchBar {
        width: 90%;
        height: 45px;
        max-width: 500px;
        margin-top: 25px;
    }

    .mainTop__searchInner {
        padding: 0 6px 0 25px;
    }

    .mainTop__searchInner input {
        background-size: 12px;
        font-size: 14px;
    }

    .mainTop__searchInner .search_product_btn {
        width: 30%;
        height: 30px;
        font-size: 10px;
    }

    .mainTop__keyword > li {
        height: 30px;
        padding: 0 10px;
        min-width: auto;
        font-size: 10px;
    }

    /* 메인 슬라이더 영역 */
    .mainSlide__slideContainer {
        width: 100%;
    }
    .mainSlide__slideContainer--01 {
        padding: 0 20px 50px;
        margin-bottom: auto;
    }

    .mainSlide__slideContainer--02 {
        padding: 50px 20px;
    }

    .mainSlide__slideContainer::after {
        content: "";
        width: 100%;
        height: 8px;
        border-radius: 1px;
        box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 6%);
        background-color: #f7f7f7;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mainSlide__title {
        font-size: 22px;
    }

    .mainSlide__pc {
        display: none;
    }

    .mainSlide__mo {
        display: flex;
    }

    /* 메인 고객지원 영역 */
    .mainSupport__btnQnA {
        font-size: 12px;
        width: 115px;
        height: 30px;
    }

    .mainSupport {
        padding: 50px 20px 85px;
    }

    .mainSupport__container {
        margin: 30px auto 0;
    }

    .mainSupport__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .mainSupport__qnaWrap {
        padding: 31px 14px;
        border: 1px solid rgba(224, 223, 226, 0.6);
    }

    .mainSupport__consult {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px 0;
    }

    .mainSupport__consult > div {
        text-align: left;
        width: 100%;
        height: 125px;
        border-radius: 15px;
        padding: 29px 23px;
    }

    .mainSupport__consult > div > h4 {
        font-size: 18px;
        padding-bottom: 14px;
        line-height: 1;
    }

    .mainSupport__consult > div > p {
        line-height: 1.63;
    }

    .mainSupport__emailBox {
        background-image: url(../img/m_sec04_backimg01.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .mainSupport__btnEmail {
        display: none;
    }

    .mainSupport__phoneBox {
        background-image: url(../img/m_sec04_backimg02.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .mainSupport__phoneBox .phoneNumber {
        font-size: 18px;
        line-height: auto;
    }

    .mainSupport__phoneBox p:not(.phoneNumber) {
        font-size: 14px;
        padding-top: 10px;
    }

    /* QnA 질문 영역 타이틀 */
    .mainSupport__qnaTitle h4 {
        font-size: 18px;
    }

    /* QnA 질문 리스트 영역 */
    .mainSupport__qnaList > li {
        height: 47px;
        border-radius: 15px;
        padding: 0 19px 0 17px;
    }

    .mainSupport__qnaList > li > p > i,
    .mainSupport__qnaList > li > p > span {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mainSupport__qnaList > li > a {
        width: 12px;
        height: auto;
        background: none;
        box-shadow: none;
        transform: scale(1);
    }

    /* 메인 고객지원 제보 영역 */
    .mainSupport__reportWrap {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px 0;
    }

    .mainSupport__reportWrap > section {
        width: 100%;
    }

    .mainSupport__reportWrap > section > .btn-SupportDetail {
        font-size: 12px;
    }
}