/* 스크롤 숨김 */
html.fixed,
body.fixed {
    position: fixed;
    width: 100%;
}

/* 헤더 영역 */
.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* 헤더 상단 영역 */
.header__top {
    padding: 0 80px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    z-index: 1;
}

.header__top > ul {
    display: flex;
    justify-content: flex-end;
    gap: 0 20px;
    
}

.header__top > ul > li > a {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.header__top > ul > li+li > a {
    position: relative;
}

.header__top > ul > li+li > a::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 1px;
    height: 8px;
    background-color: #0000001a;
}

/* 헤더 메인 영역 */
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: relative;
    z-index: 1;
}

/* 헤더 메뉴 영역 */
.header__navWrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__navWrap ul > li:hover > a {
    color: #e0462e;
}

.header__navWrap .depth-1 {
    display: flex;
    gap: 0 80px;
}

.header__navWrap .depth-1 > li {
    display: flex;
    padding-top: 45px;
    position: relative;
}

.header__navWrap .depth-1 > li > a {
    padding-bottom: 40px;
    font-size: 20px;
    position: relative;
    white-space: nowrap;
}

.header__navWrap .depth-1 > li:hover > a::before,
.header__navWrap .depth-1 > li:hover > a::after {
    content: "";
    position: absolute;
    background-color: #e0462e;
}

.header__navWrap .depth-1 > li:hover > a::before {
    top: 0;
    right: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.header__navWrap .depth-1 > li:hover > a::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.header__navWrap .depth-2 {
    position: absolute;
    top: 100%;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
}

.header__navWrap .depth-2 > li > a {
    display: block;
    padding: 7px 0;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

/* 헤더 버튼 영역 */
.header__btnWrap {
    display: flex;
    align-items: center;
    gap:0 33px;
}

/* 언어 버튼 */
.header__lang-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
    position: relative;
}

.header__lang-btn > span {
    font-size: 16px;
    font-weight: bold;
}

.header__lang-btn > img {
    transition: transform 0.8s cubic-bezier(.21,.7,.36,.8);
}

.header__langsWrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 130%;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%); 
}

.header__langsWrap > li > a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/* 언어 버튼 클릭 시 */
.header__lang-btn.active > img {
    transform: rotate(540deg);
}

/* 전체 메뉴 버튼 */
.header__fullMenu-btn {
    display: flex;
    width: 26px;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
}

.header__fullMenu-btn > span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: all 0.8s;
}

.header__fullMenu-btn > span:nth-child(1) {
    transform: translateY(-10px);
}

.header__fullMenu-btn > span:nth-child(3) {
    transform: translateY(10px);
}

/* 전체 메뉴 버튼 클릭 시 */
.header__fullMenu-btn.active > span:nth-child(1) {
    transform: rotate(135deg);
}

.header__fullMenu-btn.active > span:nth-child(2) {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
}

.header__fullMenu-btn.active > span:nth-child(3) {
    transform: rotate(-135deg);
}

/* 전체 메뉴 영역 */
.header__fullMenu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pc_ham_bg.png);
    background-repeat: no-repeat;
    background-position: right top -80px;
    background-color: #fff;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

.fullMenu__top {
    display: none;
}

.header__fullMenu .depth-1 > li > a,
.header__fullMenu .depth-2 > li > a {
    display: block;
}

.header__fullMenu .depth-1 {
    display: flex;
    margin: 0 auto;
    gap: 0 10px;
}

.header__fullMenu .depth-1 > li {
    width: 255px;
    padding: 50px 30px;
    background-color: #fff;
    border: 1px solid rgba(224, 223, 226, 0.6);
    border-radius: 30px;
    transition: transform 0.6s;
}

.header__fullMenu .depth-1 > li > a {
    padding-bottom: 40px;
}

.header__fullMenu .depth-1 > li > a > span {
    font-size: 32px;
    font-family: Binggrae-bold;
}

.header__fullMenu .depth-2 {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.header__fullMenu .depth-2 > li > a {
    display: block;
    font-size: 18px;
    line-height: 1;
    position: relative;
}

.header__fullMenu .depth-3 {
    padding-top: 15px;
}

.header__fullMenu .depth-3 > li > a {
    font-size: 15px;
    color: #343434cc;
}

.header__fullMenu .depth-3 > li:nth-child(2) > a {
    letter-spacing: normal;
}

.header__fullMenu .depth-1 > li:hover > a,
.header__fullMenu .depth-2 > li:hover > a {
    color: #e0462e;
}

.header__bottom {
    display: none;
}

/* 전체 메뉴 활성화 시 */
.header__fullMenu.active {
    visibility: visible;
    opacity: 1;
}

.fullMenu__bottom {
    display: none;
}

/* 헤더 호버 시 */
.header.active {
    background-color: #fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 2px 9.8px 0.2px rgb(0 0 0 / 8%);
    transition: height 0.8s;
    padding-bottom: 30px;
}

.header.active .header__main {
    border-bottom: 1px solid #e7e7e7;
}

.header.active .header__navWrap .depth-2 {
    visibility: visible;
    opacity: 1;
    transition: all 1s 0.4s;
}

/* 스크롤 시 헤더 영역 */
.header.fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
}

.header.fixed .header__main {
    border-bottom: 1px solid #e7e7e7;
}
/* 헤더 영역 끝 */

/* 측면 버튼 영역 */
.side__btnWrap {
    position: fixed;
    bottom: 58px;
    right: 30px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.side__btn .btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
}

/* 측면 빠른 지원 버튼 */
.side__quickSupport {
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

@keyframes UpDown {
    from {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    to {
        transform: translateY(0%);
    }
}

.side__quickSupport > img {
    animation: UpDown 2s infinite ease-in-out;
}

.side__quickSupport > p {
    position: absolute;
    top: 50%;
    right: 82px;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 160px;
    height: 45px;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 22.5px;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
}

.side__quickSupport:hover > p {
    display: flex;
}

/* 측면 스토어 이동 버튼 */
.side__btn--shop .btn {
    background-color: #fff;
    color: #1b1b1b;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
    font-weight: 500;
}

/* 측면 pageUp/pageDown 버튼 */
.side__btn--toUpdown .btn {
    background-color: #000;
}

.side__btn--toUpdown > .toDown {
    transform: rotate(180deg);
}

.side__btn--toUpdown > .toUp {
    display: none;
}

/* 메인 상단 영역 */
.mainTop {
    background-image: url(../img/pc_section01_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0;  
}

/* 메인 상단 로고 */
.mainTop__logoWrap img {
    margin: 0 auto;
}

/* 메인 상단 검색바 */
.mainTop__searchBar {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    max-width: 1020px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
}

.mainTop__searchInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px 0 55px;
}

.mainTop__searchInner input {
    width: 78%;
    height: 100%;
    padding-left: 30px;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    border: 0;
    outline: none;
    font-size: 17px;
}

.mainTop__searchInner .search_product_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    max-width: 180px;
    width: 22%;
    height: 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 27.5px;
    box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
    background: linear-gradient(to top, #ed1c25, #e0462e);
    cursor: pointer;
    letter-spacing: normal;
    transition: all 0.5s;
}   

/* 메인 상단 키워드 */
.mainTop__keyword {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 7px;
}

.mainTop__keyword li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 37px;
    padding: 0 20px;
    font-size: 12px;
    font-family: Binggrae;
    border-radius: 18.5px;
    border: 1px solid #edecef;
    cursor: pointer;
    letter-spacing: normal;
}
/* 메인 상단 영역 끝 */

/* 메인 슬리이더 영역 */
.mainSlide {
    padding: 0 0 140px;
}

.mainSlide__slideContainer {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    transition: width 0.5s;
    position: relative;
}

.mainSlide__title {
    font-size: 38px;
    font-family: Binggrae-bold;
    text-align: center;
    line-height: 1.45;
    letter-spacing: -1.9px;
    margin-bottom: 20px;
}

.mainSlide__slide01,
.mainSlide__slide02 {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.mainSlide .swiper {
    overflow: hidden;
    max-width: 1573px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
}

.mainSlide .swiper .swiper-slide {
    transition: transform 1s;
}

/* 메인 슬라이더 영역 모바일 */
.mainSlide__mo {
    display: none;
    flex-direction: column;
    align-items: center;
}

.mainSlide__mo .swiper {
    padding: 0;
}

.mainSlide__mo .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto !important;
    gap: 15px 0;
}

.mainSlide__mo ul > li > .mobile-itemWrap {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    margin: 0 4px;
    cursor: pointer;
}

/* 슬라이더 모바일 pagination */
.mainSlide__mo .slideMobile__pagination {
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 25px;
}

.mainSlide__mo .slideMobile__pagination span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1f1f1f;
    margin: 0 !important;
}

.mainSlide__mo .slideMobile__pagination span+span {
    margin: 0 0 0 16px !important;
}

/* 메인 슬라이더 버튼 */
.slide__btn-prev,
.slide__btn-next {
    cursor: pointer;
    transform: translateY(-10px);
}

.slide__btn-prev.swiper-button-disabled,
.slide__btn-next.swiper-button-disabled {
    opacity: 0.1;
}

/* 메인 슬라이더 - 01 */
.mainSlide__slideContainer--01 {
    margin-bottom: 140px;
}

.mainSlide__slide01 .swiper-slide {
    display: flex;
    flex-direction: column;
}

.mainSlide__slide01 .swiper-slide a {
    cursor: pointer;
}

.mainSlide__slide01 .swiper-slide a:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    border-radius: 21px;
    font-size: 16px;
    margin-top: 16px;
    background-color: #f9f9f9;
    transition: none;
}

.mainSlide__slide01 .swiper-slide .hover-item {
    display: none;
    letter-spacing: normal;
}

/* 메인 슬라이더 - 01 모바일 */
.mainSlide__slide01.mainSlide__mo .mobile-itemWrap > a:last-child {
    margin-top: 0;
    background: none;
    height: auto;
    font-weight: 500;
}

.mainSlide__slide01.mainSlide__mo .mobile-itemWrap > a:last-child > span {
    line-height: normal;
}

/* 메인 슬라이더 - 02 */
.mainSlide__slide02 .swiper-slide {
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.mainSlide__slide02 .slide02__brand-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 30px;
    border: solid 1px #edecef;
    background-color: #fff;
}

.slide02__brand-box .slide02__mobileLogo {
    width: 100%;
}

.mainSlide__slide02 .slide02__hover-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    opacity: 0;
    transition: all 0.7s cubic-bezier(.25,.76,.72,1);
}

.mainSlide__slide02 .slide02__hover-box img {
    transform: scale(0.8);
}

.mainSlide__slide02 .slide02__hover-box span {
    font-size: 16px;
    line-height: 1.38;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.mainSlide__slide02 .slide02__hover-box span::before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 18px auto;
}

.mainSlide__slide02 .slide02__btn-buy {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 43px;
    border-radius: 21px;
    box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
    background: linear-gradient(to top, #ed1c25, #e0462e);
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: none;
}
/* 메인 슬라이더 영역 끝 */

/* 메인 고객지원 영역 */
.mainSupport {
    padding-bottom: 140px;
}

.mainSupport__container {
    margin: 0 auto;
    max-width: 1310px;
}

.mainSupport__title {
    font-size: 38px;
    font-family: Binggrae-bold;
    text-align: center;
    line-height: 1.45;
    letter-spacing: -1.9px;
    margin-bottom: 40px;
}

/* 메인 고객지원 QnA 영역 */
.mainSupport__qnaWrap {
    padding: 60px 45px;
    margin-bottom: 132px;
    box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
    border-radius: 30px;
    background-color: #fff;
}

.mainSupport__consult {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.mainSupport__consult > div {
    width: 48.5%;
    height: 325px;
    border-radius: 30px;
    padding: 55px 45px;
}

.mainSupport__consult > div > h4 {
    font-size: 32px;
    font-family: Binggrae-bold;
    padding-bottom: 30px;
}

.mainSupport__consult > div > p {
    font-size: 16px;
}

.btn-SupportDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 43px;
    border-radius: 21.5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    cursor: pointer;
    border: 1px solid rgba(224, 223, 226, 0.6);
}

.btn-SupportDetail-red {
    color: #fff;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
    background: linear-gradient(to top, #ed1c25, #e0462e);
}

/* QnA email 영역 */
.mainSupport__emailBox {
    background-color: #eef8fa;
    background-image: url(../img/sec04_backimg01.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.mainSupport__btnEmail {
    position: absolute;
    bottom: 50px;
    left: 45px;
}

/* QnA phone 영역 */
.mainSupport__phoneBox {
    background-color: #fdf3f2;
    background-image: url(../img/sec04_backimg02.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.mainSupport__phoneBox .phoneNumber {
    font-size: 46.5px;
    font-weight: 600;
    font-family: Poppins;
    color: #303030;
}

.mainSupport__phoneBox p:not(.phoneNumber) {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding-top: 25px;
}

.mainSupport__phoneBox p:not(.phoneNumber) > span {
    color: #e0462e;
}

/* QnA 질문 영역 */
.mainSupport__qnaTitle {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 27px;
}

.mainSupport__qnaTitle h4 {
    font-size: 23px;
    font-family: Binggrae-bold;
}

.mainSupport__btnQnA {
    color: #1f1f1f;
    transition: none;
}

.mainSupport__btnQnA:hover {
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
    background: linear-gradient(to top, #ed1c25, #e0462e);
    color: #fff;
}

/* QnA 질문 리스트 영역 */
.mainSupport__qnaList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0;
}

.mainSupport__qnaList > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    height: 80px;
    border-radius: 30px;
    padding: 0 20px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    background-color: #f9f9f9;
    cursor: pointer;
}

.mainSupport__qnaList > li > p > i {
    font-size: 18px;
    font-family: Binggrae;
    padding: 0 2px 0 0;
    letter-spacing: normal;
    line-height: 1.4;
}

.mainSupport__qnaList > li > p > span {
    font-size: 18px;
    line-height: 1.4;
}

.mainSupport__qnaList > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    border-radius: 23px;
    box-shadow: inset 0px 5px 10px 0 rgb(26 26 26 / 14%);
    background-color: #e0462e;
    transform: scale(0);
}

/* QnA 질문 리스트 호버 시 */
.mainSupport__qnaList > li:hover > p {
    font-weight: bold;
}
.mainSupport__qnaList > li:hover > a {
    transform: scale(1);
}

/* 메인 고객지원 제보 영역 */
.mainSupport__reportWrap {
    display: flex;
    justify-content: space-between;
}

.mainSupport__reportWrap > section {
    padding: 78px 25px 58px;
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    width: 48.5%;
    height: 230px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.mainSupport__reportWrap > section > p {
    font-size: 20px;
    line-height: 1.63;
}

.mainSupport__reportWrap > section > .btn-SupportDetail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
/* 메인 고객지원 영역 끝 */

/* 푸터 영역 */
.footer {
    padding: 40px 50px 30px;
    background-color: #1b1b1b;
}

.footer > section {
    margin: 0 auto;
    max-width: 1920px;
}

/* 푸터 상단 영역 */
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__topMenu {
    display: flex;
    gap: 0 30px;
}

.footer__topMenu a {
    font-size: 14px;
    color: #ffffff4d;
}

/* 푸터 중단 영역 */
.footer__middle {
    display: flex;
    padding: 30px 0 115px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    font-size: 17px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

/* 푸터 하단 영역 */
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 14px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.2);
}

.footer__linkWrap {
    display: flex;
    align-items: center;
    gap: 0 60px;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.footer__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px 1px rgb(0 0 0 / 36%), inset 0px 4px 10.8px 2.2px rgb(73 73 73 / 11%);
    background-color: #1b1b1b;
}

.footer__flagship {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 355px;
    height: 70px;
    padding-left: 20px;
    border-radius: 35px;
    box-shadow: 0px 4px 8px 1px rgb(0 0 0 / 36%), inset 0px 4px 10.8px 2.2px rgb(73 73 73 / 11%);
    background-color: #1b1b1b;
    position: relative;
}

.footer__flagship p {
    display: flex;
    align-items: center;
    gap: 0 12px;
    font-size: 14px;
    color: #999999ab;
}

.footer__flagship strong {
    font-size: 14px;
    color: #ffffffab;
}

.footer__flagship > img {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

/* 푸터 모바일 하단 영역 */
.footer__mobileBottom {
    display: none;
    justify-content: space-between;
    padding-top: 80px;
}

.footer__bottomMenu {
    display: flex;
    gap: 0 25px;
}

.footer__bottomMenu > li > a {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.footer__bottomMenu > li+li {
    position: relative;
}

.footer__bottomMenu > li+li::before {
    content: "";
    width: 1px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 52%;
    left: -12.5px;
    transform: translateY(-50%);
}

.footer__mobileCopyright {
    font-size: 12px;
    letter-spacing: -0.21px;
    color: rgba(255, 255, 255, 0.2);
}