/* 헤더 영역 */
.header {
    display: flex;
    flex-direction: column;
}

/* 헤더 상단 영역 */
.header__top > ul {
    display: flex;
    justify-content: flex-end;
    gap: 0 20px;
    padding: 0 80px;
    border-bottom: 1px solid #e7e7e7;
}

.header__top > ul > li > a {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.header__top > ul > li+li > a {
    position: relative;
}

.header__top > ul > li+li > a::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 1px;
    height: 8px;
    background-color: #0000001a;
}

/* 헤더 메인 영역 */
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: relative;
}

/* 헤더 메뉴 영역 */
.header__navWrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__navWrap ul > li:hover > a {
    color: #e0462e;
}

.header__navWrap .depth-1 {
    display: flex;
    gap: 0 80px;
}

.header__navWrap .depth-1 > li {
    display: flex;
    padding-top: 45px;
}

.header__navWrap .depth-1 > li > a {
    padding-bottom: 40px;
    font-size: 20px;
    position: relative;
}

.header__navWrap .depth-1 > li:hover > a::before,
.header__navWrap .depth-1 > li:hover > a::after {
    content: "";
    position: absolute;
    background-color: #e0462e;
}

.header__navWrap .depth-1 > li:hover > a::before {
    top: 0;
    right: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.header__navWrap .depth-1 > li:hover > a::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* 헤더 버튼 영역 */
.header__btnWrap {
    display: flex;
    align-items: center;
    gap:0 33px;
}

/* 언어 버튼 */
.header__lang-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
    position: relative;
}

.header__lang-btn > span {
    font-size: 16px;
    font-weight: bold;
}

.header__lang-btn > img {
    transition: transform 0.8s cubic-bezier(.21,.7,.36,.8);
}

.header__langsWrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 130%;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%); 
}

.header__langsWrap > li > a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/* 언어 버튼 클릭 시 */
.header__lang-btn.active > img {
    transform: rotate(540deg);
}



/* 임시 */
.header__navWrap ul ul,
.header__fullMenu{
    display: none;
}