/* 스크롤 숨김 */
html.fixed,
body.fixed {
    position: fixed;
    width: 100%;
}

/* 헤더 영역 */
.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* 헤더 상단 영역 */
.header__top {
    padding: 0 80px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    z-index: 1;
}

.header__top > ul {
    display: flex;
    justify-content: flex-end;
    gap: 0 20px;
    
}

.header__top > ul > li > a {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.header__top > ul > li+li > a {
    position: relative;
}

.header__top > ul > li+li > a::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 1px;
    height: 8px;
    background-color: #0000001a;
}

/* 헤더 메인 영역 */
.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: relative;
    z-index: 1;
}

/* 헤더 메뉴 영역 */
.header__navWrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__navWrap ul > li:hover > a {
    color: #e0462e;
}

.header__navWrap .depth-1 {
    display: flex;
    gap: 0 80px;
}

.header__navWrap .depth-1 > li {
    display: flex;
    padding-top: 45px;
    position: relative;
}

.header__navWrap .depth-1 > li > a {
    padding-bottom: 40px;
    font-size: 20px;
    position: relative;
    white-space: nowrap;
}

.header__navWrap .depth-1 > li:hover > a::before,
.header__navWrap .depth-1 > li:hover > a::after {
    content: "";
    position: absolute;
    background-color: #e0462e;
}

.header__navWrap .depth-1 > li:hover > a::before {
    top: 0;
    right: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.header__navWrap .depth-1 > li:hover > a::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.header__navWrap .depth-2 {
    position: absolute;
    top: 100%;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
}

.header__navWrap .depth-2 > li > a {
    display: block;
    padding: 7px 0;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

/* 헤더 버튼 영역 */
.header__btnWrap {
    display: flex;
    align-items: center;
    gap:0 33px;
}

/* 언어 버튼 */
.header__lang-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
    position: relative;
}

.header__lang-btn > span {
    font-size: 16px;
    font-weight: bold;
}

.header__lang-btn > img {
    transition: transform 0.8s cubic-bezier(.21,.7,.36,.8);
}

.header__langsWrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 130%;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%); 
}

.header__langsWrap > li > a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

/* 언어 버튼 클릭 시 */
.header__lang-btn.active > img {
    transform: rotate(540deg);
}

/* 전체 메뉴 버튼 */
.header__fullMenu-btn {
    display: flex;
    width: 26px;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
}

.header__fullMenu-btn > span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: all 0.8s;
}

.header__fullMenu-btn > span:nth-child(1) {
    transform: translateY(-10px);
}

.header__fullMenu-btn > span:nth-child(3) {
    transform: translateY(10px);
}

/* 전체 메뉴 버튼 클릭 시 */
.header__fullMenu-btn.active > span:nth-child(1) {
    transform: rotate(135deg);
}

.header__fullMenu-btn.active > span:nth-child(2) {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0;
}

.header__fullMenu-btn.active > span:nth-child(3) {
    transform: rotate(-135deg);
}

/* 전체 메뉴 영역 */
.header__fullMenu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pc_ham_bg.png);
    background-repeat: no-repeat;
    background-position: right top -80px;
    background-color: #fff;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

.fullMenu__top {
    display: none;
}

.header__fullMenu .depth-1 > li > a,
.header__fullMenu .depth-2 > li > a {
    display: block;
}

.header__fullMenu .depth-1 {
    display: flex;
    margin: 0 auto;
    gap: 0 10px;
}

.header__fullMenu .depth-1 > li {
    width: 255px;
    padding: 50px 30px;
    background-color: #fff;
    border: 1px solid rgba(224, 223, 226, 0.6);
    border-radius: 30px;
    transition: transform 0.6s;
}

.header__fullMenu .depth-1 > li > a {
    padding-bottom: 40px;
}

.header__fullMenu .depth-1 > li > a > span {
    font-size: 32px;
    font-family: Binggrae-bold;
}

.header__fullMenu .depth-2 {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.header__fullMenu .depth-2 > li > a {
    display: block;
    font-size: 18px;
    line-height: 1;
    position: relative;
}

.header__fullMenu .depth-3 {
    padding-top: 15px;
}

.header__fullMenu .depth-3 > li > a {
    font-size: 15px;
    color: #343434cc;
}

.header__fullMenu .depth-3 > li:nth-child(2) > a {
    letter-spacing: normal;
}

.header__fullMenu .depth-1 > li:hover > a,
.header__fullMenu .depth-2 > li:hover > a {
    color: #e0462e;
}

.header__bottom {
    display: none;
}

/* 전체 메뉴 활성화 시 */
.header__fullMenu.active {
    visibility: visible;
    opacity: 1;
}

.fullMenu__bottom {
    display: none;
}

/* 헤더 호버 시 */
.header.active {
    background-color: #fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 2px 9.8px 0.2px rgb(0 0 0 / 8%);
    transition: height 0.8s;
    padding-bottom: 30px;
}

.header.active .header__main {
    border-bottom: 1px solid #e7e7e7;
}

.header.active .header__navWrap .depth-2 {
    visibility: visible;
    opacity: 1;
    transition: all 1s 0.4s;
}

/* 스크롤 시 헤더 영역 */
.header.fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
}

.header.fixed .header__main {
    border-bottom: 1px solid #e7e7e7;
}
/* 헤더 영역 끝 */

/* 메인 상단 영역 */
.mainTop {
    background-image: url(../img/pc_section01_4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0;
    height: 910px; /*임시 */  
}

/* 메인 상단 로고 */
.mainTop__logoWrap img{
    margin: 0 auto;
}

/* 메인 상단 검색바 */
.mainTop__searchBar {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    max-width: 1020px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
}

.mainTop__searchInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px 0 55px;
}

.mainTop__searchInner input {
    width: 78%;
    height: 100%;
    padding-left: 30px;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    border: 0;
    outline: none;
    font-size: 17px;
}

.mainTop__searchInner .search_product_btn {
    border: 0;
    max-width: 180px;
    width: 22%;
    height: 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 27.5px;
    box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
    background: linear-gradient(to top, #ed1c25, #e0462e);
    cursor: pointer;
}   